*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background: url('../images/banner/banner1.png');
    width: 1600px;
    height: 808px;
}
.header_contain{
    width: 525px;
    position: relative;
    top: 30%;
    left: 50%;

}
.nav_title{
color:#151414;
text-align: right;
font-family: Work Sans;
font-size: 65px;
font-weight: 700;
}

.nav_discription{
color: #444343;
text-align: right;
font-size: 16px;;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.first_btn{
position: relative;
background: #F15B22;
left: 70%;
margin-top: 30px;
border-radius: 5px;
width: 160px;
height: 64px;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
border: 0;
}

.profile_pic{
    /* margin-right: 40px;     */
}

.main_class{
    display: flex;
    margin-top: 140px;
    align-items: center;
    margin:130px 230px 140px 270px;
   
}
.profile_title {  color: black;
    font-size: 40px;
    font-weight: 700;
    margin-left: 130px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    
}

.profile_discription{
    margin-top: 26px;
    color: #444343;
    margin-left: 130px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.achievement{
     margin-left: 150px;
    margin-top: 20px;
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.achievement a{
    text-decoration: none;
}

   
.section_title{
    text-align: center;
    /* margin-bottom: 10px; */
    padding: 50px 230px;
   
}

.plan_continer{
    display: flex;
   /* position: relative; */
   justify-content: center;
  
}
.plan_continer .icons{
    margin-right: 50px;
    margin-top: 10px;
}



.gradient_background{
width: 1140px;
height: 300px;
background: url('../images/watch.png');
border-radius: 8px;
background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 90%);
margin: 30px 230px; */
opacity: -999;

}
.gradient_dis{
color: #FFF;
font-size: 40px;
font-weight: 700;
padding: 60px 617px 147px 60px;
}

.Contact_btn{
margin-top: 0px;
color: #F15B22;
text-align: center;
font-size: 20px;
font-weight: 600;
padding: 15px 25px;
border: 1px solid #ddd;
border-radius: 10px;
margin-top: 15px;
} 

.footer_section{
width: 1300px;
height: 377px;
background: #151414;
align-items: center;
padding: 0px 200px;
display: flex;
color: white;
}


.footer_title{
    font-size: 45px;
    font-weight: 700;
}
.footer_des{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer_email{
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.footer_phone{
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.chobiwala{
    margin-top: 25px;
    margin-right: 10px;
}

 /* width: 175px;
height: 46px;
} */
.left_side{
    width: 50%;
}

.Subscribe{
color: #FFF;
font-size: 25px;
font-weight: 600;
margin-bottom: 20px;
}
.deh_email_sala{
border-radius: 8px;
border: 1px solid #FFF;
width: 325px;
height: 64px;
color: #F3F3F3;
font-size: 18px;
font-weight: 400;
margin-bottom: 10px;
border: 0;
}

.thip_mar{
 width: 170.106px;
height: 64px;
border-radius: 8px;
background: #FFF;
color: #F15B22;
font-size: 20px;
font-weight: 600;
margin-bottom: 90px;
}